---
# front matter tells Jekyll to process Liquid
my_number: 5
title: xavier
layout: default
---
    <h1>Pagina xavier bastos pastor le da la bienvenida</h1>
     <h2> {{ "xavier" | capitalize }} </h2>
     <h2> {{ "XAVER" | downcase }} </h2>
  <h2> {{ page.title }}</h2>
<h2> {{ page.my_number }} </h2>
